@import "code-solarized-light";
@import "code-vsc-dark";

.spi-markdown {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 16px;
    margin-top: 24px;
  }

  p > code:not([class*="language-"]) {
    padding: 0.2em 0.4em;
    margin: 0;
    border-radius: 6px;
    font-size: 85%;
  }

  h1,
  h2 {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--spi-color-hr);
  }

  p,
  ol {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  h3 {
    margin-top: 4rem;
    &::before {
      display: block;
      content: " ";
      margin-top: -65px;
      height: 65px;
      visibility: hidden;
      pointer-events: none;
    }
  }

  pre {
    word-wrap: normal;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 16px;
    margin-top: 0;
    // font-size: 87.5%;
    color: inherit;
    border: inherit;
    text-align: inherit;
    > code {
      font-size: 100%;
    }
  }

  img {
    max-width: 100%;
    display: block;
    // margin: 0 auto;
  }
}
