@mixin changeScale($scale) {
  #rcap > div > div {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

// Capthca Styles
// Horizontally center the recaptcha - applied to all widths
#rcap > div > div > div {
  margin: 4px auto !important;
  text-align: center;
  width: auto !important;
  height: auto !important;
}


@media screen and (max-width: 430px) {
  @include changeScale(0.8);
}

@media screen and (max-width: 370px) {
  @include changeScale(0.75);
}
