@mixin change-scale($scale) {
  #rcap > div > div {
    transform: scale($scale);
    -webkit-transform: scale($scale);

    //TODO: see if removing these will break anything
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

// Capthca Styles
// Horizontally center the recaptcha - applied to all widths
#rcap > div > div > div {
  margin: 4px auto !important;
  text-align: center;
  width: auto !important;
  height: auto !important;
}

@media screen and (max-width: 430px) {
  @include change-scale(0.85);
}
@media screen and (max-width: 370px) {
  @include change-scale(0.75);
}
