button.modal-text-btn {
  padding: 0;
  color: #007bff;
  background-color: transparent;
  border: transparent;

  &:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
  }
}

.modal-title {
  width: 100%;
  text-align: center;
}

.small-modal.modal-body p {
  font-size: 1rem;
}
