// Navlinks in the navbar
.nav-link {
  &.active {
    text-decoration: underline;
    font-weight: bold;
    &.btn {
      cursor: default !important;
      // cursor fix
      &:hover {
        cursor: default !important;
      }
      // goodbye blue circle
      &:focus {
        box-shadow: none;
      }
    }
  }
}

// all instances of nav pills
//TODO: make it so this style isnt global
.nav-pills {
  .nav-link {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 1px solid #17a2b8;
    font-size: 1.25rem;
    &:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
    &.active,
    .show {
      background-color: #17a2b8;
      cursor: default !important;
      text-decoration: none;
    }
  }
}
