$dot-size: 1.5rem;
$mini-margin: 0.25rem;
$bg-width: 3.5rem;
$bg-height: 2rem;

// 2 dot-size
.toggle-class {
  cursor: pointer;
  .transition {
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }

  .theme-icon {
    top: 0;
    bottom: 0;
    position: absolute;
    margin-top: auto !important;
    margin-bottom: auto !important;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms;

    &.moon {
      right: $mini-margin * 1.75;
      transform: translateX(calc(-100% - #{$mini-margin * 1.75}));
      color: transparent;
    }
    &.sun {
      left: $mini-margin * 1.75;
      color: $dark;
    }
  }

  .dot {
    width: $dot-size;
    height: $dot-size;
    top: $mini-margin;
    left: $mini-margin;
    background-color: $light;

    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent,
      0 0 transparent, inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  }
  .toggle-bg {
    height: $bg-height;
    width: $bg-width;
    background-color: hsl(218, 11%, 65%);
  }

  input {
    &:checked {
      ~ .dot {
        transform: translateX(100%);
        background-color: hsl(262, 49%, 10%);
      }
      ~ .toggle-bg {
        background-color: hsl(215, 14%, 40%);
      }
      ~ .theme-icon {
        &.moon {
          transform: translateX(0);
          color: $light;
        }
        &.sun {
          transform: translateX(calc(100% + #{$mini-margin * 1.75}));
          color: transparent;
        }
      }
    }
  }
}
