{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "selector-class-pattern": null,
    "property-no-vendor-prefix": null,
    "no-invalid-position-at-import-rule": null,
    "declaration-block-trailing-semicolon": "always",
    "no-descending-specificity": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["after-same-name", "first-nested"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["else", "import"]
      }
    ],
    "declaration-colon-newline-after": null,
    "selector-id-pattern": null,
    "max-line-length": [120, { "ignorePattern": ["/@apply\\s+/"] }],
    "custom-property-pattern": null,
    "color-function-notation": null,
    "scss/no-global-function-names": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/at-rule-no-unknown": null,
    "scss/dollar-variable-pattern": null,
    "scss/double-slash-comment-whitespace-inside": null
  }
}
