#__next {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh;
}

p {
  font-size: 1.1rem;
}

pre:hover {
  cursor: text;
}

.streamPiAbout {
  font-weight: 300;
  &::before {
    display: block;
    content: "";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
    pointer-events: none;
  }
}

#streamPiHome {
  font-weight: 300;
  @include font-size(7rem);
  // @media screen and (max-width: 576px) {
  //   font-size: 5rem;
  // }
  // @media screen and (max-width: 400px) {
  //   font-size: 4rem;
  // }
  // @media screen and (max-width: 320px) {
  //   font-size: 3rem;
  // }
  // @media screen and (max-width: 240px) {
  //   font-size: 2.5rem;
  // }
  // @media screen and (max-width: 200px) {
  //   font-size: 2rem;
  // }
  // font-size: 7rem;
}
