$enable-responsive-font-sizes: true;
@import "~bootstrap/scss/bootstrap";

// Stream-Pi SCSS Imports
@import "fonts"; // FontFace
@import "theme"; // dark / light theme related
@import "components"; // all component-level styles
@import "markdown"; // when rendering markdown, these styles will be used.
@import "app"; // styles meant for the WHOLE app
