.body-transition {
  transition: background-color 0.25s ease-in-out, color 0.5s ease-in-out;
}

// HTML TAGS
body {
  background-color: var(--spi-color-body);
  color: var(--spi-color-text);
}

header {
  background-color: var(--spi-color-card);
}

h3,
h1 {
  color: var(--spi-color-heading);
}

hr {
  border-color: var(--spi-color-hr);
}

// CLASSES / IDS

.my-collapse-select,
.my-collapse-select:hover {
  color: var(--spi-color-text);
}

.bg-card {
  background-color: var(--spi-color-card);
  color: var(--spi-color-text);
}

.about-icon {
  color: var(--spi-color-text);
}

.nav-link {
  color: var(--spi-color-text);
}

.my-modal {
  * {
    &:not(.btn) {
      color: var(--spi-color-text);
    }
  }
  .modal-content {
    background-color: var(--spi-color-card);
  }
  .modal-footer,
  .modal-header {
    border-color: #00000020;
  }
}
