// Theme Control
body.dark-mode {
  --spi-color-body: #161625;
  --spi-color-text: #e1e1ff;
  --spi-color-heading: #818cab;
  --spi-color-card: #595775;
  --spi-color-hr: #ffffff66;

  .spi-brand-text {
    color: $light;
  }

  .footer {
    background-color: hsl(240, 25%, 5%);
    a {
      text-decoration: none;
      color: $light;
      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }
}

body.light-mode {
  --spi-color-body: #f8f9fa;
  --spi-color-text: #000000e6;
  --spi-color-heading: #292922;
  --spi-color-card: #7ebfff;
  --spi-color-hr: #00000066;

  .streampi-navbar-class {
    @extend .navbar-light;
  }

  .spi-brand-text {
    color: $dark;
  }

  .footer {
    background-color: $gray-200;
    a {
      text-decoration: none;
      color: $dark;
      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }
}
